:root {
	--primary-accent: #6c1ed9;
	--light-gray: #f2f2f2;
	--dark-gray: #fff;
}

audio {
	width: 1220px;
}

.comment-list {
	background-color: var(--light-gray);
}
.comment {
	background-color: var(--light-gray);
}

.comment-container {
	border: 2px solid red;
	width: 1220px;
}

* {
	border: 2px solid red;
}
