div.main-song-container {
	position: absolute;
	width: 100%;
	top: 125px;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Poppins', sans-serif;
}

.song-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.song-title {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	margin: 0;
}

.song-owner {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	justify-self: center;
	height: 10px;
	margin-bottom: 8px;
}

.song-owner a {
	height: 20px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6e85b2;
	margin-bottom: 10px;
}

.song-image {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	margin: 50px 0px;
}

.audio-player-main {
	height: 40px;
	width: 600px;
}

.date {
	margin-top: 0px;
	font-size: 14px;
	font-family: monospace;
	font-weight: bolder;
	color: #261c2c;
}

.mini-profile-img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.song-comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 72%;
	left: 35%;
	width: 100%;
}

.comments-header {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

.comment-user {
	color: #6e85b2;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.image-name-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name-date-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 10px;
	padding-bottom: 10px;
}

.name-date-container > * {
	margin: 0;
}

.song-comments h3.date {
	color: #6e85b2;
}

.song-comments .comment-body {
	color: #fff;
	margin-bottom: 15px;
	margin-top: 8px;
}

.album-href {
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 17px;
	color: #6e85b2;
}

.album-href::before {
	color: #fff;
	content: 'Album - ';
}
