.album-pic {
	width: 250px;
	height: 250px;
}

.album-info {
	display: flex;
}

.album-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 10%;
	left: 30%;
	width: 100%;
}

.album-title {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
}

.album-user a {
	height: 20px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6e85b2;
}

h3.date {
	color: #261c2c;
}

.buttons-manage {
	position: absolute;
	top: 100%;
	left: 0;
}
