/* TODO Add site wide styles */
:root {
	--primary-accent: #f50;
	--light-gray: #f2f2f2;
	--dark-gray: #fff;
}

body {
	background-color: var(--light-gray);
	margin: 0;
	padding: 0;
	border: 0;
	min-width: 1180px;
	display: flex;
	justify-content: center;
}
